/*.sublime-workspace
/.bundle/
/.capistrano/
/assets_manifest.yml
/config/application.yml
/config/deploy.rb
/config/deploy/*.rb
/config/environments/*.rb
/config/unicorn/*.rb
/log/
/public/assets/
/public/system/
/REVISION
/tmp/