!!! 5
- html_tag class: 'no-js' do
  %head
    = csrf_meta_tags

    %title Locoroco

    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'application'

  %body
    = yield